@font-face{
    font-family:"Avenir LT Light";
    src:url("Fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix");
    src:url("Fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix") format("eot"),url("Fonts/0078f486-8e52-42c0-ad81-3c8d3d43f48e.woff2") format("woff2"),url("Fonts/908c4810-64db-4b46-bb8e-823eb41f68c0.woff") format("woff"),url("Fonts/4577388c-510f-4366-addb-8b663bcc762a.ttf") format("truetype"),url("Fonts/b0268c31-e450-4159-bfea-e0d20e2b5c0c.svg#b0268c31-e450-4159-bfea-e0d20e2b5c0c") format("svg");
}
@font-face{
    font-family:"Avenir LT Medium";
    src:url("Fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix");
    src:url("Fonts/e0542193-b2e6-4273-bc45-39d4dfd3c15b.eot?#iefix") format("eot"),url("Fonts/17b90ef5-b63f-457b-a981-503bb7afe3c0.woff2") format("woff2"),url("Fonts/c9aeeabd-dd65-491d-b4be-3e0db9ae47a0.woff") format("woff"),url("Fonts/25f994de-d13f-4a5d-a82b-bf925a1e054d.ttf") format("truetype"),url("Fonts/3604edbd-784e-4ca7-b978-18836469c62d.svg#3604edbd-784e-4ca7-b978-18836469c62d") format("svg");
}
@font-face{
    font-family:"Avenir LT Heavy";
    src:url("Fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix");
    src:url("Fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix") format("eot"),url("Fonts/d513e15e-8f35-4129-ad05-481815e52625.woff2") format("woff2"),url("Fonts/61bd362e-7162-46bd-b67e-28f366c4afbe.woff") format("woff"),url("Fonts/ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b.ttf") format("truetype"),url("Fonts/20577853-40a7-4ada-a3fb-dd6e9392f401.svg#20577853-40a7-4ada-a3fb-dd6e9392f401") format("svg");
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Avenir LT Medium", Arial;
    position: relative;
}

line {
	stroke: #000000;
	stroke-width: 1;
}

.white {
    fill: #ffffff;
    color: #ffffff;
}

.lightPink {
    fill: #ff81b3;
    color: #ff81b3;
}

.mediumPink {
    fill: #d25a94;
    color: #d25a94;
}

.darkPink {
    fill: #77385e;
    color: #77385e;
}

.darkBlue {
    background: #090229;
}

.smallBold {
    font-family:"Avenir LT Heavy";
    font-weight: bold;
    font-size: 6pt;
}

.mediumThin {
    font-family:"Avenir LT Light";
    font-weight: lighter;
    font-size: 9pt;
}

.mediumBold {
    font-family:"Avenir LT Heavy";
    font-weight: bold;
    font-size: 9pt;
}

.link {
    color: #77385e;
}

.boxGradStop1 {
    stop-color: #521136;
}

.boxGradStop2 {
    stop-color: #941537;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}  
  
svg {
    display: block;
}

#mainContainer {
    /* background-image: linear-gradient(to top, #941537 0%, #010124 100%); */
    background: #090229;
    width: auto;
    height: 100%;
    display: inline-block;
}

#loaderImage {
    width: 50%;
    margin-left: 25%;
}

#starGroupBg {
    opacity: 0;
}

#starLoader {
    opacity: 0;
    cursor: progress;
}

#starScaleContainer {
    overflow-x: scroll;
    overflow-y: hidden;
}

.logoImage {
    cursor: pointer;
}

.menuButtonGroup {
    cursor: pointer;
    text-transform: uppercase;
}

.menuButtonGroupInactive tspan {
    fill: #77385e;
}

.menuButtonGroupActive tspan {
    fill: #ff81b3;
}

.menuButtonBg {
    opacity: 0;
}

.zoomedOut {
    cursor: zoom-in;
}

.zoomedIn {
    cursor: zoom-out;
}

.timeHeaderLine {
    stroke: #77385e;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.timeHeaderText tspan {
    fill: #77385e;
    text-anchor: middle;
}

.timeZoomHeaderText tspan {
    fill: #77385e;
    text-anchor: middle;
}

#infoImage {
    position: fixed;
    left: 50%;
    transform: translate(-50%,0%);
    -webkit-transform: translate(-50%,0%);
}

.star {
    cursor: pointer;
}

.starElementPath {
    stroke: none;
}

.starMouseoverBg {
    /* fill: url(#boxGrad); */
    fill: #591334;
    stroke: #ff81b3;
    stroke-width: 0.5;
    shape-rendering: crispEdges;
}

#overlayContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #000000;
    opacity: 0.6;
}

#impressumPanel {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow-y: scroll;
}

#impressumContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: scroll;
}

#impressumTextContainer {
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translate(-50%,0%);
    -webkit-transform: translate(-50%,0%);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}

#videoContainer {
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

.twittera {
	stroke: rgb(0, 0, 256);
	fill: rgb(0, 0, 256);
}

.twitterb {
	stroke: rgb(244, 160, 41);
	fill: rgb(244, 160, 41);
}

.twitteratext {
	stroke: none;
	fill: rgb(0, 0, 256);
	visibility: collapse;
}

.twitterbtext {
	stroke: none;
	fill: rgb(244, 160, 41);
	visibility: collapse;
}

.socialMediaButtonGroup {
	fill: rgb(128, 128, 128);
}

.socialMediaButtonGroup {
    cursor: pointer;
}

.socialMediaButtonGroup text {
	fill: rgb(256, 256, 256);
}

.socialMediaButtonGroup path {
	fill: rgb(256, 256, 256);
}
